<?xml version="1.0" encoding="UTF-8"?>

<included>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <property name="LOG_PATH" value="./logs"/>
  <!--<property name="LOG_PATH" value="/tomcat/logs" />-->
  <!-- 日志记录器，日期滚动记录 -->
  <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/${CONTEXT_NAME}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>
        ${LOG_PATH}/${CONTEXT_NAME}.%d{yyyy-MM-dd}.%i.log
      </fileNamePattern>
      <maxFileSize>1MB</maxFileSize>
      <MaxHistory>10</MaxHistory>
      <totalSizeCap>3MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{50} - %msg%n
      </pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="File"/>
  </root>

  <springProfile name="dev,test">
    <logger name="org.springframework" level="info"/>
    <logger name="com.cachexic.cloud" level="debug"/>
    <logger name="com.dangdang.ddframe" level="debug"/>
  </springProfile>
  <springProfile name="prep,prod">
    <logger name="org.springframework" level="error"/>
    <logger name="com.cachexic.cloud" level="info"/>
  </springProfile>
</included>


